<a href="https://colab.research.google.com/github/paullacelis/Analise-inicial.Aluguel-em-Nova-York-Descobrindo-Tend-ncias-e-Insights.ipynb/blob/main/An%C3%A1lise_inicial_Aluguel_em_Nova_York_Descobrindo_Tend%C3%AAncias_e_Insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###As perguntas do CEO
1. Qual o valor médio do aluguel na cidade de Nova York?
2. Quais os nomes das regiões que existem na cidade de Nova York?
3. Qual o valor do aluguel diário mais caro da cidade de Nova York?


### planejamento da solucao
Planejamento do Processo
Quais são os passos para encontrar as respostas?
1. Coletar um conjunto de dados ( planilha de dados )
2. Manipular esses dados
a. Calcular a média de todos os valores de aluguel da cidade de Nova
York.
b. Contar todos os nomes distintos que aparecem na coluna região.
c. Encontrar o valor máximo da coluna que contém os valores dos
aluguéis
 Pergunta #1
Calcular a média de todos os valores de aluguel da cidade
de Nova York.
1.3.1 Selecionar colunas
 Pergunta #2
Contar todos os nomes distintos que aparecem na coluna
região.
 Pergunta #3
Encontrar o valor máximo da coluna que contém os valores
dos aluguéis
Produto Final
E-mail com as respostas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/AB_NYC_2019.csv', header=0)

In [ ]:
data.head(7)

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
# localizando a coluna preco
price = data.loc[:,"price"]

In [ ]:
price

In [ ]:
# calcular valor medio
valorMedio = np.mean(price).round(2)
print('O valor medio e')
print(valorMedio)

O valor medio e
152.72

In [ ]:
# selecionar coluna regiao
regioes = data.loc[:,"neighbourhood_group"]
regioesUnicas= pd.unique( regioes)
regioesUnicas

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [ ]:
# localizando valor maximo
valorMaximo = np.max(price)
print("o valor maximo e ")
print(valorMaximo)

o valor maximo e
10000